/*************************************************************************

	About.rc 1.0
    	Copyright 1997 Willows Software, Inc. 

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Library General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Library General Public License for more details.

You should have received a copy of the GNU Library General Public
License along with this library; see the file COPYING.LIB.  If
not, write to the Free Software Foundation, Inc., 675 Mass Ave,
Cambridge, MA 02139, USA.


For more information about the Willows Twin Libraries.

	http://www.willows.com	

To send email to the maintainer of the Willows Twin Libraries.

	mailto:twin@willows.com 

**************************************************************************/

#include "windows.h"
#include "About.h"

ShellAbout DIALOG DISCARDABLE 26,50,240,164
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About TWIN"
Font 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "OK",SAB_OKAY, 198,15,40,14
	ICON		"",SAB_ICON,8,8,18,20
	LTEXT		"Static",SAB_ABOUT,36,8,150,10
	LTEXT		"Static",SAB_TEXT, 36,20,150,10
	LTEXT		"Static",SAB_USER,36,48,180,20
	LTEXT		"TWIN from Willows Software",SAB_TWIN,36,60,190,10
	LTEXT		"Static",SAB_VERSION,36,72,190,10
	LTEXT		"Static",SAB_WINDOW,36,88,150,10
	LTEXT		"Host:",SAB_HOST,36,106,150,10
	LTEXT		"Display:",SAB_TERM,36,118,150,10
	LTEXT		"Copyright (c) 1995-1999 Willows Software, Inc.",-1,36,140,150,10
END

SAB_ICON	ICON	"resources/willows.ico"
