# Ignore all files created as part of the configuration process
confdefs.h
config.cache
config.log
Makefile
config.status
Make.rules

# Ignore all build files
.depend
*.a 
*.o

include/platform.h

autom4te.cache/*