# Ignore all files created as part of the configuration process
confdefs.h
config.cache
config.log
Makefile
config.status
Make.rules

# Ignore all build files
.depend
*.a 
*.o
*.so

include/platform.h

autom4te.cache/*

xwin32

# idk where these files came from 
XDG_VTNR=7Bin.c
XDG_VTNR=7Bin.h
XDG_VTNR=7.c
XDG_VTNR=7.h
hModule

*.TMP