#include "windows.h"
#include "resource.h"

Printers DIALOG 43, 60, 229, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Printers"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDB_EXIT, 172, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Connect...", IDB_CONNECT, 172, 37, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Setup...", IDB_SETUP, 171, 56, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Remove", IDB_REMOVE, 172, 75, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Add...", IDB_ADD, 172, 94, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Set As &Default Printer", IDB_SET_AS_DEF, 42, 114, 80, 14, WS_GROUP | WS_TABSTOP
 LISTBOX IDL_PRN_LIST, 12, 44, 145, 68, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL
 LTEXT "", IDS_DEFAULT_PRN, 13, 16, 143, 8
 GROUPBOX "Default Printer", -1, 6, 4, 156, 23, BS_GROUPBOX
 GROUPBOX "Installed &Printers", -1, 6, 30, 156, 102, BS_GROUPBOX
}


Connect DIALOG 19, 31, 194, 117
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Connect"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 136, 7, 50, 14
 LTEXT "..", IDS_PRINTER, 7, 7, 115, 10
 LISTBOX IDL_PORTS, 8, 36, 108, 59, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Ports", -1, 8, 24, 45, 9
 PUSHBUTTON "A&lias...", IDB_ALIAS_BUTTON, 136, 80, 50, 14
 LTEXT "Current Alias:", IDS_CURR_ALIAS, 8, 99, 45, 8
 LTEXT "None", IDS_ALIAS_TXT, 57, 99, 129, 8
 PUSHBUTTON "Cancel", IDCANCEL, 136, 25, 50, 14
 PUSHBUTTON "&Add...", IDB_ADD_PORT, 136, 44, 50, 14
 PUSHBUTTON "&Remove", IDB_REMOVE_PORT, 136, 62, 50, 14
}


AddDialog1 DIALOG 0, 0, 190, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add"
FONT 8, "MS Sans Serif"
{
    EDITTEXT        IDE_EDIT,10,17,167,16, WS_BORDER | WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,10,39,50,14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "Cancel",IDCANCEL,69,39,50,14, WS_GROUP | WS_TABSTOP
    LTEXT           "",IDS_EDIT_NAME,9,4,64,13
}

AddDialog2 DIALOG 0, 0, 190, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add printer"
FONT 8, "MS Sans Serif"
{
    EDITTEXT        IDE_EDIT,10,17,167,16, WS_BORDER | WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,10,39,50,14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "Cancel",IDCANCEL,69,39,50,14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "Browse...",IDB_BROWSE,126,39,50,14, WS_GROUP | WS_TABSTOP
    LTEXT           "",IDS_EDIT_NAME,9,4,64,13
}

BrowseDialog DIALOG 0, 0, 130, 138
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Browse..."
FONT 8, "MS Sans Serif"
{
    DEFPUSHBUTTON   "OK",IDOK,9,115,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,70,115,50,14
    LTEXT           "",IDS_PRINTERS_TXT,9,16,111,12
    LTEXT           "Printer:",0,9,4,47,7
    LISTBOX         IDL_PRINTERS,9,35,111,74,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
}

23 ICON "resources/idiapp.ico"

STRINGTABLE 
{
 IDS_PORTS_MISSING, "Cannot assign a port to the selected printer because the [ports] section of WIN.INI file is missing. \nChoose OK to set other options or choose Cancel to quit."
 IDS_DEL_PORT_QUESTION, "Are you sure you want to remove port %s?"
 IDS_DEL_PRN_QUESTION, "Are you sure you want to remove printer %s?"
 IDS_ADDPRN_CAPT, "Add Printer"
 IDS_ADDPORT_CAPT, "Add Port"
 IDS_ADDALIAS_CAPT, "Alias"
 IDS_ADDPRN_STC, "Printer Name:"
 IDS_ADDPORT_STC, "Port Name:"
 IDS_ADDALIAS_STC, "Alias:"
}

